/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* buttonlar:
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Code Pro', monospace;
	
	başlıklar:
	font-family: 'Oswald', sans-serif;
	*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}
.nav-menu , .cart-menu>li{
	list-style: none;
}
.nav-link{
	text-decoration: none;
	font-size: 1.2rem;
	color: #232946;
	transition: 0.7s ease;
}
.nav-link:hover{
	color: #b8c1ec;
}
.nav-bar{
	min-height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:0 20px;
}
.nav-menu{
	display: flex;
	justify-content: space-around;
	gap: 50px;
}
.hamburger{
	display: none;
	cursor: pointer;
}
.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: #232946;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bx-cart{
	font-size: 2rem;
	cursor: pointer;
}
.logo{
	font-size: 2rem;
	color: #232946;
	text-decoration: none;
}


@media (max-width:770px) {
	
	header{
		justify-content: space-between;
	}
	.hamburger{
		display: block;

	}
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform:translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
		transform:translateY(-8px) rotate(-45deg);
	}

	.nav-menu{
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color:#232946 ;
		width: 100%;
		text-align: center;
		transition: 0.3s ;
		flex: 1;
	}
	.nav-menu>li{
		margin:16px 0;
	}
	.nav-menu.active{
		left: 0;
	}
	.nav-link{
		color: white;
	}
	.logo{
		position:fixed;
		left: 41%;
	}

}

